.categories-container {
  background-color: red;
}

.categories-container .category-contianer {
  background-color: green;
}

.categories-container .category-container .category-body-container {
  background-color: blue;
}